<!doctype html>
<html lang="en" ng-app="koality">
<head>
<meta charset="utf-8">
<title>Koality</title>
<style type="text/css">[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }</style>

<%- cssFiles %>

</head>
<body>

	<div id="main">
		<div id="headerBackground"></div>

		<div id="centerContainer">
			<div id="headerContainer">
				<div id="header" ng-controller="Header" unselectable>
					<span id="headerTitle" ng-click="visitHome()">Koality</span>
					<div id="headerOptions" ng-show="loggedIn" ng-cloak>
						<span dropdown-container class="headerOption" ng-controller="HeaderProfile" ng-click="profileClick()">{{user.firstName}} {{user.lastName}}
							<dropdown dropdown-alignment="right" dropdown-options="profileDropdownOptions" dropdown-option-click="profileDropdownOptionClick(dropdownOption)" />
						</span>

						<span class="headerOption" ng-controller="HeaderAdmin" ng-show="isAdmin" ng-click="visitAdmin()">Admin</span>

						<span dropdown-container class="headerOption" ng-controller="HeaderRepositories" ng-click="repositoryClick()">Repositories
							<dropdown dropdown-alignment="right" dropdown-options="repositoryDropdownOptions" dropdown-option-click="repositoryDropdownOptionClick(dropdownOption)" />
						</span>

						<span class="headerOption" ng-click="feedback.modalVisible = true">Feedback</span>
						<modal modal-visible="feedback.modalVisible">
							<div id="feedbackPanel">
								<content>
									<content-header content-header-padding>Send Feedback</content-header>
									<content-body unselectable>
										<div id="feedbackPanelContent" ng-show="!feedback.showSuccess">
											<styled-form name="feedbackForm" id="feedbackPanelForm">
												<styled-form-field label="Feedback" label-padding="true">
													<textarea type="text" ng-model="feedback.text" name="feedback" placeholder="I found an issue with foo, where bar will baz from time to time. I was able to reproduce the baz behavior by first... and then..." ng-maxlength="8192" required></textarea>
												</styled-form-field>
												<styled-form-field>
													<button id="feedbackPanelSubmitButton" ng-click="submitFeedback()" ng-disabled="feedbackForm.$invalid">Send</button>
												</styled-form-field>
											</styled-form>
										</div>
										<div id="feedbackPanelSuccessMessage" ng-show="feedback.showSuccess">
											Thank you for your feedback!
										</div>
									</content-body>
								</content>
							</div>
						</modal>

					</div>
				</div>
			</div>

			<div id="contentContainer">
				<div id="contentCenterContainer" ng-view></div>
			</div>
		</div>
	</div>

<script>
	var fileSuffix = '<%- fileSuffix %>'
	var csrfToken = '<%- csrfToken %>'
	var accountInformation = {id: "<%- userId %>", email: "<%- email %>", firstName: "<%- firstName %>", lastName: "<%- lastName %>", isAdmin: <%- isAdmin %>}
</script>

<%- jsFiles %>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-37984512-1']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

</body>
</html>