<!doctype html>
<html lang="en" ng-app="koality">
<head>
<base href="/" />
<meta charset="utf-8">
<title>Koality</title>
<style type="text/css">[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }</style>

<%- cssFiles %>

</head>
<body>

	<div id="main" ng-controller="Main">
		<div id="headerContainer" ng-controller="Header" ng-include="'/html/header/header.html' | fileSuffix"></div>

		<div id="notificationsContainer"></div>

		<div id="contentContainer">
			<div id="contentCenterContainer" class="growingCentered" ng-view></div>
		</div>
	</div>

<script>
	var fileSuffix = '<%- fileSuffix %>'
	var csrfToken = '<%- csrfToken %>'
	var accountInformation = {id: "<%- userId %>", email: "<%- email %>", firstName: "<%- firstName %>", lastName: "<%- lastName %>", isAdmin: <%- isAdmin %>}
</script>

<%- jsFiles %>

</body>
</html>